authoritative;
option domain-name "{{ domain }}";
#option dhcp6.domain-search "{{ domain }}";
#option dhcp6.name-servers {% for item in dns_forwarders_ipv6 %}, {{ item.ipaddr }}{% endfor %};
default-lease-time 43200;
max-lease-time 90000;

subnet 192.168.1.0 netmask 255.255.255.0 {
    range 192.168.1.21 192.168.1.254;
    option routers {{ octe1_ip }};
    option broadcast-address 192.168.1.255;
    option domain-name-servers {{ octe1_ip }} {% for item in dns_forwarders %}, {{ item.ipaddr }}{% endfor %};
}

subnet 192.168.2.0 netmask 255.255.255.0 {
    range 192.168.2.2 192.168.2.254;
    option routers {{ octe2_ip }};
    option broadcast-address 192.168.2.255;
    option domain-name-servers {{ octe2_ip }} {% for item in dns_forwarders %}, {{ item.ipaddr }}{% endfor %};
}

{% for item in dns_records %}
host {{ item.hostname }} {
    hardware ethernet {{ item.macaddr }};
    fixed-address {{ item.ipv4addr }};
}
{% endfor %}


# Original
#option domain-name "localdomain";
#subnet 192.168.1.0 netmask 255.255.255.0 {
#        range 192.168.1.2 192.168.1.254;
#        option routers 192.168.1.1;
#        option domain-name-servers 192.168.1.1;
#}
#subnet 192.168.2.0 netmask 255.255.255.0 {
#        range 192.168.2.2 192.168.2.254;
#        option routers 192.168.2.1;
#        option domain-name-servers 192.168.2.1;
#}
