interface octe0 {
    send ia-pd 0;
    send ia-pd 1;
    send ia-na 1;
};

id-assoc na 1 {
};

id-assoc pd 0 {
    prefix ::/64 infinity;
    prefix-interface octe1 {
        sla-id 1;
        sla-len 0;
    };
};

id-assoc pd 1 {
    prefix ::/64 infinity;
    prefix-interface octe2 {
        sla-id 1;
        sla-len 0;
    };
};
