interface em1 {
    send ia-pd 1;
    send ia-na 1;
};

id-assoc na 1 {
};

id-assoc pd 1 {
    prefix ::/56 infinity;
    prefix-interface octe1 {
        sla-id 1;
        sla-len 8;
    };
    prefix-interface octe2 {
        sla-id 2;
        sla-len 8;
    };
};
